@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    display: block;
    margin: 0;
    background-color: #fdf5ec;
    font-family: "Quicksand", sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    width: 250px;
    height: 250px;
}