# dependencies
/node_modules

# build output
/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE/editor folders
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db

# frontend
client/node_modules
client/.env

# backend
backend/.env
__pycache__/