.option-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

.option-title {
    font-size: 1.75em;
}

.description {
    text-align: center;
    font-size: 1.5em;
}

.icon {
    width: 100px;
    height: 100px;
    background-color: #cfded1;
    border-radius: 50%;
}

.option-card:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
